
nav.navbar {
    background-color: rgb(255, 0, 54);
    margin-top: 4%;
    margin-bottom: 10px;
  }
  #logo{
      width: 450px;
      color: white;
      margin: -50px 44%;
      margin-top: -4%;
  
     
  
  }
  .navcen{
      padding-inline: 35%;
  
  
    }
  body{
      background-color: rgb(58, 58, 58);
  }
  * {
      box-sizing: border-box;
   
    }
  
    #separador {
      width: 50%;
      margin-left: 3%;
      margin-top: 25%;
  
    }
    
    #zoom:hover {
      -ms-transform: scale(1.5); 
      -webkit-transform: scale(1.5); 
      transform: scale(1.5); 
  

  }
  .textos{
      text-align: center;
  }
  
  #carta{
      margin-top: 1%;
  
  }
  
  .fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
      background-color:#00506b;}
     
     .style_prevu_kit
     {
         display:inline-block;
         border:0;
         width:350px;
         height:255px;
         position: relative;
         -webkit-transition: all 200ms ease-in;
         -webkit-transform: scale(1); 
         -ms-transition: all 200ms ease-in;
         -ms-transform: scale(1); 
         -moz-transition: all 200ms ease-in;
         -moz-transform: scale(1);
         transition: all 200ms ease-in;
         transform: scale(1);   
     
     }
     .style_prevu_kit:hover
     {
  
         z-index: 2;
         -webkit-transition: all 200ms ease-in;
         -webkit-transform: scale(1.5);
         -ms-transition: all 200ms ease-in;
         -ms-transform: scale(1.5);   
         -moz-transition: all 200ms ease-in;
         -moz-transform: scale(1.5);
         transition: all 200ms ease-in;
         transform: scale(1.5);
     }
  .letra{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:15px;
       margin-left: 1%;
  }
  .colorle{
      color: white;
      font-size: 30px;
  }
  
  #letrapag{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
  }
  #letralogo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #page{
    margin-top: 104%;
    margin-left: 11.5%;
    font-size: 15px ;
  
    
  }
  #banner img{
    width: 100%;

  }

  